body {
    height: 100vh;
  }

.title {
    font-size: 2.1em;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #ffffff;
    width: 19ch;
    animation: typing 2s steps(17, end), blink-caret .75s step-end infinite;
    margin: 0 auto;
    }
    
    .subtitle {
    color: #c9c5c5;
    font-size: 1.12em;
    font-weight: normal;
    margin-bottom: 31px;
    }
    
    .home-button {
    background-color: #C93131;
    box-shadow: 0 8px 20px rgba(201, 49, 49, 0.5);
    color: #ffffff;
    padding: 12px 22px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.92em;
    transition: all 0.5s ease;
    }
    
    .home-button:hover {
    box-shadow: 0 12px 25px rgba(201, 49, 49, 0.6); 
    transform: translateY(-1px); 
    }
    
    .home-button i {
    margin-right: 5px;
    }
    
    @keyframes typing {
    from { width: 0; }
    to { width: 17ch; }
    }
    
    @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #ffffff; }
    }
    
    b {
     font-size: 14px; 
     margin-right: 47%;
    }