body::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0a0a; 
    z-index: 1; 
}

body > .loader-container {
    position: relative;
    z-index: 2; 
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.spinner {
    border: 5px solid #C93131;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 0.8s linear infinite;
    margin-right: 15px;
    border-top: 5px solid transparent;
}

.loading-text {
    font-weight: bold;
    color: #e6e1e1;
    font-size: 18px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
